/* .presentation-page{
    margin-right: 2px;
}

table{
    width: 100%;
    margin-bottom: 20px;
}

table td, table th { overflow-wrap: anywhere; }


.empty-headline-cell{
    background-color: transparent !important;
}

thead {
    > tr {
        > th {
            background-color: #90B2B1;
            color: white;
            text-align: right;
            font-weight: bold;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

td {
    padding-right: 10px;
    padding-left: 10px;
    border-left: none;
    border-right: none;
}

.bordered-row{
    > td {
        border-bottom: lightgray 1px solid;
    }
}

.euro-row{
    >:nth-child(1) {
        text-align: left;
    }

    > td {
        //border-left: lightgray 1px solid;
        //border-right: lightgray 1px solid;
        border-bottom: #90B2B1 4px solid;
        text-align: right;
    }

    >.cell-spacer{
        border-bottom: none;
    }

    text-align: center;
}

.special-spacer-row{
    border-bottom: black 1px solid;
}

tr{
    height: 50px;
    vertical-align: middle;
}

.cell-spacer{
    text-align: right;
    padding: 0px !important;
    border-bottom: none !important;
}

.cell-val{
    text-align: right;
}

.row-meaning{
    width: 30%;
}

.headline{
    width: 150px;
    padding-right: 10px;
}

.cell-content{
    width: 40%;
    padding-left: 10px;
}

.row-spacer{
    height: 30px !important;
    > td {
        border-bottom: none;
    }
}

.spacer-content{
    width: 10px;
}

.bold-row {
    font-weight: bold;
    > td {
        border-bottom: none;
    }
}

.special-row{
    > td {
        border-bottom: lightgray 5px solid;
    }
}

.underlined-row {
    //font-weight: bold;
    > .cell-val, .cell-title{
        border-bottom: #90B2B1 4px solid !important;
    }
    //border-top: #B8CA47 4px solid;
}

.colored-row {
    background-color: #90B2B1;
    color: white;
    font-weight: bold;
}

.cell-enum{
    width: 2%;
    text-align: right;
}

.cell-add{
    width: 5%;
    text-align: right;
}

.cell-add-information{
    width: 12%;
    text-align: right;
}

.cell-title{
    width: 30%;
    text-align: left;
}

.highlighted-row{
    > td {
        border-bottom: 5px lightgray solid;
    }
}
 */

.presentation-page{
    font-size: 12px;
    margin-right: 2px;
}

table{
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

table td, table th { 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .tablestructure {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f5;
    width: 100%;

    .tableheadlinerow {
        display: flex;
        flex-direction: row;
        background-color: #90B2B1;
        color: white;
        font-weight: 700;

        .tablecellwide {
            width: 70%;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 5px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
        }

        .tablecell {
            width: 120px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 10px;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            text-align: right;
            align-items: center;
        }

        .tablecellspacer{
            width: 40px;
            padding-left: 0px;
            padding-right: 0px;
            background-color: #90B2B1;
        }
    }

    .tableeurorow{
        display: flex;
        flex-direction: row;

        .tablecellwide{
            width: 70%;
            border-bottom: 2px solid #90B2B1;
        }

        .tablecellspacer{
            width: 40px;
        }

        .tablecellnumber{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            width: 120px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;

            border-bottom: 2px solid #90B2B1;
        }
    }

    .bold-row {
        font-weight: 700;
        
        .tablecellwide{
            padding-left: 10px;

            .possiblecontent-title{
                border-bottom: none !important;
            }
            border-bottom: 2px solid #90B2B1 !important;
        }

        .tablecellnumber{
            border-bottom: 2px solid #90B2B1 !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .highlighted-row {
        >* {
            border-bottom: none !important;
        }

        .tablecellnumber{
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .special-row {

        .tablecellwide{
            border-bottom: none !important;
            border-top: none !important;
            border-bottom: 2px solid #b0aa9b !important;
            padding-left: 10px;

            .possiblecontent-count{
                border-top: none !important;

            }

            .possiblecontent-title{
                border-top: none !important;
                border-bottom: none !important;
            }
        }

        .tablecellnumber{
            border-top: none !important;
            border-bottom: none !important;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: 2px solid #90B2B1 !important;
        }
    }

    .disaligned-row{
        height: 34px;
    }

    .none-row {
        .tablecellwide{
            padding-left: 10px;
            .possiblecontent-title{
                border-bottom: none !important;
            }
        }

        .tablecellnumber{
            border-bottom: none !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .colored-row {
        color: white;
        font-weight: 700;

        .tablecellspacer{
            background-color: #f4f4f5 !important;
        }

        .tablecellwide{
            background-color: #90B2B1;
            padding-left: 10px;
            .possiblecontent-title{
                border-bottom: none !important;
            }
            border-bottom: none !important;
        }

        .tablecellnumber{
            background-color: #90B2B1;
            border-bottom: none !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .underlined-row {
        

        .tablecellwide {
            border-bottom: 2px solid #90B2B1 !important;
            padding-left: 10px;

            .possiblecontent-enum{
                border-bottom: none !important;
            }
            .possiblecontent-count{
                border-bottom: none !important;
            }
            .possiblecontent-title{
                border-bottom: none !important;
            }
        }

        .tablecellspacer {
            border-bottom: none !important;
        }

        .tablecellnumber {
            border-bottom: 2px solid #90B2B1 !important;
            width: 120px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .tablecontentrow{
        display: flex;
        flex-direction: row;

        .tablecellwide{
            width: 70%;
            display: flex;
            flex-direction: row;

            padding-top: 10px;
            padding-left: 10px;
            padding-right: 5px;
            padding-bottom: 10px;
            border-bottom: 1px solid #b0aa9b;
            

            .possiblecontent-enum {
                width: 6%;
                padding-bottom: 5px;
                border-bottom: none !important;
            }

            .possiblecontent-count {
                width: 10%;
                padding-bottom: 5px;
                text-wrap: nowrap;
            }

            .possiblecontent-title {
                width: 100%;
            }
        }

        .tablecellspacer{
            width: 40px;
        }

        .tablecellnumber{
            width: 120px;
            border-bottom: 1px solid #b0aa9b;

            padding-left: 5px;
            padding-right: 5px;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
    }
}