.sidebar-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.site-layout > *{
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
}