.presentation-page{
    font-size: 10px;
    margin-right: 2px;
}

table{
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

table td, table th { 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .tablestructure {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f5;
    width: 100%;

    .tableheadlinerow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: white;
        font-weight: 700;

        .tablecellwide {
            width: 40%;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: #8e9e2d;
        }

        .tablecell {
            width: 120px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            text-align: right;
            align-items: center;
            background-color: #8e9e2d;
        }

        .tablecellspacer{
            width: 25px;
            padding-left: 0px;
            padding-right: 0px;
            background-color: #8e9e2d;
        }

        .special-spacer{
            background-color: #f4f4f5 !important;
        }

        .special-header{
            background-color: #e2e9b5 !important;
            color: black;
        }
    }

    .tableeurorow{
        display: flex;
        flex-direction: row;

        .tablecellwide{
            width: 40%;
            border-bottom: 2px solid #8e9e2d;
        }

        .tablecellspacer{
            width: 25px;
        }

        .tablecellnumber{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            width: 120px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;

            border-bottom: 2px solid #8e9e2d;
        }
    }

    .bold-row {
        font-weight: 700;
        
        .tablecellwide{
            .possiblecontent-title{
                border-bottom: none !important;
            }
            border-bottom: 2px solid #8e9e2d !important;
        }

        .tablecellnumber{
            border-bottom: 2px solid #8e9e2d !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .nounderline {
        >*{
            border-bottom: none !important;
        }
    }

    .highlighted-row {
        >* {
            border-bottom: none !important;
        }

        .tablecellnumber{
            font-weight: 700;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .special-row {

        .tablecellwide{
            border-bottom: none !important;
            border-top: none !important;


            .possiblecontent-count{
                border-top: none !important;

            }

            .possiblecontent-title{
                border-top: none !important;
                border-bottom: none !important;
            }
        }

        .tablecellnumber{
            border-top: none !important;
            border-bottom: none !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .none-row {
        .tablecellwide{
            .possiblecontent-title{
                border-bottom: none !important;
            }
        }

        .tablecellnumber{
            border-bottom: none !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .colored-row {
        color: white;
        font-weight: 700;
        margin-bottom: 50px;

        .tablecellspacer{
            background-color: none !important;
        }

        .tablecellwide{
            background-color: #8e9e2d;
            .possiblecontent-title{
                border-bottom: none !important;
            }
            border-bottom: none !important;
        }

        .tablecellnumber{
            background-color: #8e9e2d;
            border-bottom: none !important;

        }

        .specialcell{
            background-color: #e2e9b5 !important;
            color: black;
        }
    }

    .underlined-row {
        font-weight: 700;
        

        .tablecellwide {
            border-bottom: 2px solid #8e9e2d;

            .possiblecontent-enum{
                border-bottom: none !important;
            }
            .possiblecontent-count{
                border-bottom: none !important;
            }
            .possiblecontent-title{
                border-bottom: none !important;
            }
        }

        .tablecellspacer {
            border-bottom: none !important;
        }

        .tablecellnumber {
            border-bottom: 2px solid #8e9e2d !important;
            width: 120px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .tablecontentrow{
        display: flex;
        flex-direction: row;

        .tablecellwide{
            width: 40%;
            display: flex;
            flex-direction: row;

            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;
            border-bottom: 2px solid #b0aa9b;
            

            .possiblecontent-enum {
                width: 6%;
                padding-bottom: 5px;
                border-bottom: none !important;
            }

            .possiblecontent-count {
                width: 10%;
                padding-bottom: 5px;
                text-wrap: nowrap;
            }

            .possiblecontent-title {
                width: 100%;
            }
        }

        .tablecellspacer{
            width: 25px;
        }

        .tablecellnumber{
            width: 120px;
            border-bottom: 2px solid #b0aa9b;

            padding-left: 5px;
            padding-right: 5px;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
    }
}