.presentation-page{
    margin-right: 2px;
}

table{
    width: 100%;
}

.empty-headline-cell{
    background-color: transparent !important;
}

thead {
    > tr {
        > th {
            background-color: #B8CA47;
            color: black;
            text-align: center;
            font-weight: normal;
        }
    }
}

td {
    padding-right: 10px;
    padding-left: 10px;
}

.bordered-row{
    > td {
        border: lightgray 1px solid;
    }
}

.euro-row{
    > td {
        border-left: lightgray 1px solid;
        border-right: lightgray 1px solid;
        text-align: center;
    }

    text-align: center;
}

.special-spacer-row{
    border-bottom: black 1px solid;
}

tr{
    height: 50px;
    vertical-align: middle;
}

.cell-spacer{
    text-align: right;
}

.cell-val{
    text-align: right;
}

.row-meaning{
    width: 20%;
}

.headline{
    width: 150px;
    padding-right: 10px;
}

.cell-content{
    width: 40%;
    padding-left: 10px;
}

.row-spacer{
    height: 15px !important;
}

.spacer-content{
    width: 50px;
}

.bold-row {
    font-weight: bold;
}

.colored-row {
    background-color: #B8CA47;
    color: black;
}