.presentation-page{
    margin-right: 2px;
}

table{
    width: 100%;
}

.empty-headline-cell{
    background-color: transparent !important;
}

thead {
    > tr {
        > th {
            background-color: #B8CA47;
            color: white;
            text-align: center;
            font-weight: bold;
        }
    }
}

td {
    padding-right: 10px;
    padding-left: 10px;
}

.bordered-row{
    > td {
        border-bottom: lightgray 1px solid;
    }
}

.euro-row{
    > td {
        //border-left: lightgray 1px solid;
        //border-right: lightgray 1px solid;
        text-align: right;
        background-color: #B8CA47;
    }

    text-align: center;
    color: white;
    font-weight: bold;
}

.currency-row{
    > td {
        text-align: right;
        font-weight: bold;
        border-bottom: 4px #B8CA47 solid;
    }

    > .cell-spacer {
        border-bottom: none;
    }

}

.underlined-row {
    //font-weight: bold;
    > .cell-val, .row-meaning, .cell-enum{
        border-bottom: #B8CA47 4px solid !important;
    }
    //border-top: #B8CA47 4px solid;
}

.special-spacer-row{
    border-bottom: black 1px solid;
}

.small-row{
    height: 8px;
}

.special-headline-row{
    >.cell-spacer{
        border-bottom: none !important;
    }

    >:nth-child(1){
        border-bottom: none !important;
    }

    >:nth-child(3){
        background-color: #B8CA47;
    }

    >:nth-child(13){
        background-color: #B8CA47;
    }

    color: #B8CA47;
    > td{
        border-bottom: 4px #B8CA47 solid;
        text-align: right;
        overflow: wrap;
        font-weight: bold;
    }
}

.no-border{
    > td{
        border-bottom: none !important;
    }
}

.long-cell{
    text-align: center !important;
}

tr{
    height: 50px;
    vertical-align: middle;
}

.cell-spacer{
    text-align: right;
}

.cell-val{
    text-align: right;
}

.row-meaning{
    width: 20%;
}

.headline{
    width: 150px;
    padding-right: 10px;
}

.cell-content{
    width: 40%;
    padding-left: 10px;
}

.row-spacer{
    height: 15px !important;
}

.spacer-content{
    width: 50px;
}

.bold-row {
    font-weight: bold;
}

.colored-row {
    background-color: #B8CA47;
    color: black;
}